<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-img src="/assets/images/LogoDuoc.jpg" class="LogoTop"></ion-img>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding Fondo">
  <div class="fondo">
    <ion-grid class="ion-padding">
      <!-- ... (previous content) ... -->
      <ion-card class="center ion-padding">
        <ion-card-header>Recuperar contraseña</ion-card-header>
        <p>Bienvenido !</p>
        <p>{{ nombre }}</p>
        <p>Paso 2: Responde la pregunta secreta</p>
        <ion-row></ion-row>
        <ion-row class="ion-padding center">
          <p>{{ preguntaSecreta }}</p>
        </ion-row>

        <ion-row>
            <ion-item class="ion-padding center">
              <ion-input type="text" [(ngModel)]="respuesta" name="respuesta" placeholder="Respuesta Secreta"></ion-input>
            </ion-item>
            <ion-button class="ion-padding" (click)="recuperarRespuesta()">Recuperar Contraseña</ion-button>
        </ion-row>
      </ion-card>
    </ion-grid>
  </div>

  <ion-row class="center ion-padding">
    <a>Iniciar sesion</a>
  </ion-row>
</ion-content>




<ion-footer>
  <ion-toolbar>
    <ion-title>Contacto</ion-title>

    <ion-row>
      <ion-col>
        Telefono:
      </ion-col>
      <ion-col>
        +569 9999 9999
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        Ubicacion:
      </ion-col>
      <ion-col>
        Av. Padre Alonso Ovalle
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        Correo:
      </ion-col>
      <ion-col>
        Duoc@duocuc.cl
      </ion-col>
    </ion-row>

    

  </ion-toolbar>
</ion-footer>